.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 0 1;
    margin: 0;
    background-color: #fffcf2;
}

.splash {
    display: flex;
    flex: 1 0 60vh;
    position: relative;
    height: 100vh;
}

img {
    max-width: 100%;
    max-height: 100vh;
}

.splash div {
    position: absolute;
}

.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: auto;
}

.paragraph-container {
    font-size: 24px;
    font-weight: 550;
    margin: 100px 150px 30px 50px;
}
.form-container p,
.form-container .form-row,
.login,
button {
    margin-left: 50px;
}

.form-container {
    background-color: #ccc5b9;
    padding: 20px 0px;
    margin-bottom: 20px;
    box-shadow: 4px 5px 8px #b1b0b0;
}

.form-container p {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 550;
    font-size: 28px;
}

.form-row {
    display: flex;
    gap: 162px;
}

.form-row div {
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px 40px;
    background-color: #cc5803;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 3px 5px #b1b0b0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    appearance: none;
    width: 140%;
    height: 34px;
    border: 1px solid #474747;
    border-radius: 4px;
    background-color: #ccc5b9;
    font-size: 16px;
    padding-left: 16px;
}

label {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.15rem;
    margin-bottom: 2px;
}

input {
    margin-bottom: 16px;
}