body {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 0 1;
    margin: 0;
}

.splash {
    display: flex;
    flex: auto;
    position: relative;
    width: 65%;
    height: 100vh;
}

img {
    max-width: 100%;
    max-height: 100vh;
}

.splash div {
    position: absolute;
}
