.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 0 1;
    margin: 0;
}

.splash {
    display: flex;
    flex: 1 0 60vh;
    position: relative;
    height: 100vh;
}

img {
    max-width: 100%;
    max-height: 100vh;
}

.splash div {
    position: absolute;
}

.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: auto;
}
