.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 0 1;
    margin: 0;
    background-color: antiquewhite;
}

.splash {
    display: flex;
    flex: 1 0 60vh;
    position: relative;
    height: 100vh;
}

img {
    max-width: 100%;
    max-height: 100vh;
}

.splash div {
    position: absolute;
}

.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: auto;
}

.paragraph-container {
    font-size: 24px;
    font-weight: 550;
    margin: 100px 150px 30px 50px;
}

.form-container,
.login,
button {
    margin-left: 50px;
}

.form-container {
    background-color: burlywood;
}

.form-row {
    display: flex;
}

.form-row div {
    display: flex;
    flex-direction: column;
}